<!doctype html>
<html lang="uz">
<head>
    {% load static %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Movie Detail</title>
<link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<div class="container">
<div class="header">
<div class="brand"><div class="logo">OM</div><div><h2 style="margin:0">{{movie.title}}</h2><div style="color:var(--muted);font-size:13px">2024 · Drama</div></div></div>
<div class="nav"><a href="{% url 'home' %}" class="small-btn">Back</a></div>
</div>


<div class="detail-wrap">
<img class="poster-large" src="{{movie.image.url}}" alt="Poster">


<div>
<h3>Tavsif</h3>
<p style="color:var(--muted)">{{movie.desc}}</p>


<div class="attr"><strong>Rejissyor:</strong> {{movie.author}}</div>

<div class="attr"><strong>Muddat:</strong> {{movie.duration}} soat</div>


<div style="margin-top:18px">
<a href="{% url 'update' movie.id %}" class="small-btn">Edit</a>
<a href="{% url 'delete' movie.id %}" class="small-btn">Delete</a>
</div>
</div>  
</div>


</div>
</body>
</html>