<!doctype html>
<html lang="uz">
<head>
    {% load static %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Edit Movie</title>
<link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<div class="container">
<div class="header">
<div class="brand"><div class="logo">OM</div><div><h2 style="margin:0">Filmni tahrirlash</h2></div></div>
<div class="nav"><a href="{% url 'home' %}" class="small-btn">Orqaga</a></div>
</div>


<div class="form-card">
<form action="{% url 'update' movie.id %}" method="post" enctype="multipart/form-data">{% csrf_token %}
   
<div class="form-row">
<div class="field">
<label for="title">Sarlavha</label>
<input id="title" name="title" value="{{movie.title}}" type="text" required>
</div>
<div class="field">
<label for="year">Chiqarilgan Sana</label>
<input id="year" value="{{movie.date}}" name="date" type="date" >
</div>
</div>


<div class="field">
<label for="genre">Janr</label>
<input id="genre" value="{{movie.genre}}" name="genre" type="text">
</div>


<div class="field">
<label for="desc">Tavsif </label>
<textarea id="desc" value="{{movie.desc}}" name="desc"></textarea>
</div>
<div class="field">
<label for="author"> Author </label>
<input  value="{{movie.author}}" name="author" type="text">

</div>

<div class="field">
<label for="duration"> Duration </label>
<input  pvalue="{{movie.duration}}" name="duration" type="time">

</div>



<div class="field">
<label for="poster">Poster (rasm)</label>
<input id="poster"  name="image" type="file" >
</div>


<div style="display:flex;gap:10px;justify-content:flex-end;margin-top:12px">
<a href="{% url 'home' %}" class="small-btn">Bekor qilish</a>
<button class="button" type="submit">Saqlash</button>
</div> 
</form>
</div>
</div>
</body>
</html>